<!--<div style="margin-block-start: 1rm, block teamBlockTitle wow fadeIn bg-dark" data-wow-delay="0.2s" style="background-color: rgb(33, 33, 33); visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
    <div class="inner align-center">
        <h3 class="color-white" style="color: #ffffff; center-block">Meet the Team</h3>
        <p class="color-white" style="color: #ffffff">
          
    </div>
</div>
-->
<div class="bg-dark text-center py-5 mb-4">
    <div class="container">
      <h1 class="fon text-white">Meet the Team</h1>
    </div>
</div>
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
            <img src="assets/sarah.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Sarah Vezonik</h5>
            <div class="card-text text-black-50">Teamleader</div> 
            <div class="card-text text-black-50">Marketing, Rapid Prototyping (3D Druck)</div>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
        <img src="assets/lukas.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lukas Konrad</h5>
            <br> <div class="card-text text-black-50">Mechanics</div> <br>
            <div class="card-text text-black-50"> </div> 
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
            <img src="assets/merci.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Mercedes Wesonig</h5>
            <br> <div class="card-text text-black-50">Elektronics, Programming</div> <br>
            <div class="card-text text-black-50"> </div> 
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="assets/lara.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Lara Hofer</h5>
            <br> <div class="card-text text-black-50">Programming</div> <br>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
  </div>
