<div style="margin-block-start: 1rm, block teamBlockTitle wow fadeIn bg-dark" data-wow-delay="0.2s" style="background-color: rgb(33, 33, 33); visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
    <div class="inner align-center">
        <h3 class="color-white" style="color: #ffffff">Team</h3>
        <p class="color-white" style="color: #ffffff">
          
    </div>
</div>
//TODO <br>
1. Bilder von allen sammeln <br>
2. beschreibungen einfügen <br>
3. passendes design einfügen <br>