<div>
    <h4>Willkommen!</h4>
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="p-2 bd-highlight">
                    <img src="assets/htlturm.png" style="height:20%;">
                </div>
        </div>
        <div class="col-sm-8">
            <p>
            <span class="input-group-text border border-light bg-white">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <app-sync-button [config]=button1Config></app-sync-button>
            </span>
            </p>

            <p>
            <span class="input-group-text border border-light bg-white">
                <input type='range' id="input"/>
                <app-sync-button [config]=button1Config></app-sync-button>
            </span>
            </p>
        
            <p>
            <span class="input-group-text border border-light bg-white">
                <input type='range' id="input"/>
                <app-sync-button [config]=button1Config></app-sync-button>
            </span>
            </p>
        </div>
    </div>


    //TODO <br>
    1. Schiebebuttons anpassen
    2. richtiges foto einfügen
    3. Farbe am foto sichbar ändern
    4. passende designs einfügen
